@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

@function rem($pix) {
  @return ($pix/16 * 1rem);
}

%primary-font {
  font-family: "Montserrat", sans-serif;
}

%secondary-font {
  font-family: "Fraunces", serif;
}

.category {
  letter-spacing: 5px;
}

p,
button {
  @extend %primary-font;
}

h1 {
  color: #1c232b;
}

h1,
.price {
  @extend %secondary-font;
  font-size: rem(32);
}

.price {
  color: #3d8168;
}

.ogriginal-price {
  text-decoration: line-through;
  margin-top: rem(10);
  margin-left: rem(24);
}

main {
  background-color: #f2eae2;
  color: #6c7289;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  width: rem(343);
}

.btn {
  border-radius: 8px;
  padding: 15px;
  background-color: #3d8168;
}

.test {
  border: 2px solid red;
}
